

*{
    box-sizing: border-box;
    margin: 0;
    body {
  font-family: 'Roboto', sans-serif;
}
   

    
}

.header{
 background-color: #1f2937;
 display: flex;
 flex-direction: column;
 align-items: center;
 

 
}

.nav{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 60vw;
    margin: 0 auto;
    
}

.logo{
    color: #e5e7eb;
    font-size: 20px;
    font-weight: 900;
}
.links{
    display: flex;
     gap: 20px;
     font-size: 18px;
     color: #e5e7eb;
}


li{
    list-style: none;
}

a{
   text-decoration: none;
   color: #e5e7eb;
}

.hero{
    display: flex;
    padding-top:  50px;
    padding-bottom: 50px;
    align-items: center;
    justify-content: space-between;
    min-width: 60vw;
    margin: 0 auto;
}

.main{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.main h1{
    font-size: 48px;
    color: #e5e7eb;
}
 
.main span{
    font-size: 18px;
    color: #e5e7eb;
}

.main .signup{

    background-color:  #3882f6; ;
    border: none;
    width: 120px;
    border-radius: 5px;
    color: #e5e7eb;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 6px;

}

.mainimg img{
    width: 250px;
    height: 150px;

}

.info{

    min-width: 60vw;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.info h1{

    text-align: center;
    color: #1f2937;
    font-size: 36px;
    padding-top: 20px;
    padding: 10px;
    font-weight: 700;
}

.cards{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    column-gap: 30px;
}
.card{
    border: solid 2px #3882f6;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}

.cardinfo{
    text-align: center;

}

.quotes{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    
   
    

    
}
.quotebox{

 display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
    max-width: 50vw;
}
.quote{
   
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    
}
.quoter{
   
    align-self: flex-end;
    font-weight: bold;
    font-size: 25px;
    
}

.cta{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  
    
}

.ctablock{
   background-color: #3882f6;
   border-radius: 10px;
   display: flex;
   justify-content: space-between;
   padding-top: 50px;
   padding-bottom: 50px;
  padding-left: 150px;
  padding-right: 150px;
   
   column-gap: 50px;
   
   

}
.ctxt{
    font-size: 25px;
    font-weight: 500;
    color: #e5e7eb;
}
.secondary{
    font-size: 18px;
    font-weight: 100;
    color: #e5e7eb;
}

.signup2{

    font-size: 18px;

     border: solid 3px white;
    border-radius: 20px;
    color: #e5e7eb;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #3882f6
    
    
}

.footer{
    background-color: #1f2937;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #e5e7eb;
    font-size: 18px;
    text-align: center;
}